@import 'variables';

@media screen and (max-width: 700px){

  .navbar-text {
    display: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, max-content);
  }

  .background-card{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $green;
    flex-direction: column;
    font-size: 14px;
    height: 370px;
    width: 220px;
    position: relative;
    margin-left: 20px;
    z-index: 1;
  }

  .main-tech {
    border-bottom: 1px solid $green;
    border-right: 0;
  }

  .title {
    margin-left: -20px;
  }

}
