@import 'variables';

@media screen and (max-width: 700px){

  .navbar-text {
    display: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, max-content);
  }

  .background-card:not(:last-child) {
    border-bottom: 1px solid $green;
  }

  .main-tech {
    border-bottom: 1px solid $green;
    border-right: 0;
  }

  .title {
    margin-left: -20px;
  }

}
